<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.toyboard.toy.mapper.toyboardMapper">

    <select id="getBoardList" resultType="com.toyboard.toy.dto.toyboarddto">

    SELECT id, title, content, read_cnt, register_id, register_time, update_time
    FROM board

    </select>

    <insert id = "insertData" parameterType = "com.toyboard.toy.dto.toyboarddto">

    INSERT INTO board (id, title, content, read_cnt, register_id, register_time, update_time)
    values (#{id}, #{title}, #{content}, 0, #{register_id}, now(), now())
    </insert>

    <select id = "viewData" parameterType="int" resultType = "com.toyboard.toy.dto.toyboarddto">

    SELECT *
    FROM board
    WHERE id = #{id}

    </select>

    <update id = "updateData">

    UPDATE board
    SET title = #{title}, content = #{content}, register_id = #{register_id}, update_time = now()
    WHERE id = #{id}

    </update>

    <delete id = "deleteData">

    DELETE
    FROM board
    WHERE id = #{id}

    </delete>

</mapper>

